// get the page ready
* { outline: none; box-sizing: border-box; }
body { padding: 0; margin: 0; }
body, button, input {
  font-family: 'PT Sans', "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-size: 4em;
}
body {
  overflow: hidden;
}
.promo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px
}
#root {
  background: #f1fcfa
}
