<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <div class="promo">
        <h1>Продам гараж</h1>
        <a href="tel:+79055332433">+79055332433</a>
      </div>
      <div id="root"></div>
  </body>
</html>
